/*------------------
  Classes section
---------------------*/

.classes-section {
	background: #f9f2f0;
}

.classes-slider .owl-dots {
	text-align: center;
}

.classes-slider .owl-dots .owl-dot {
	width: 8px;
	height: 8px;
	background: #cccccc;
	border-radius: 20px;
	margin-right: 7px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.classes-slider .owl-dots .owl-dot:last-child {
	margin-right: 0;
}

.classes-slider .owl-dots .owl-dot.active {
	width: 26px;
	background: #f65d5d;
}

.classes-item {
	text-align: center;
	background: #fff;
	padding-top: 40px;
	margin-top: 15px;
	margin-bottom: 50px;
	border-radius: 13px;
	-webkit-box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
	box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.classes-item:hover {
	-webkit-box-shadow: 0px 12px 32px rgba(72, 105, 114, 0.15);
	box-shadow: 0px 12px 32px rgba(72, 105, 114, 0.15);
}

.classes-item .ci-img img {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	margin: 0 auto 25px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px),
only screen and (min-width: 768px) and (max-width: 991px) {
	.classes-item .ci-img img {
		width: 220px;
		height: 220px;
	}
}

@media (max-width: 420px) {
	.classes-item .ci-img img {
		width: 150px;
		height: 150px;
	}
}

.classes-item .ci-text {
	padding: 0 15px 10px;
}

.classes-item h4 {
	/* font-family: "Playfair Display", serif; */
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin-bottom: 15px;
}

.classes-item h4 a {
	color: #333333;
}

.classes-item h4 a:hover {
	color: #f65d5d;
}

.classes-item .ci-meta {
	display: inline-block;
	font-size: 14px;
	color: #666666;
	margin-right: 10px;
	margin-bottom: 15px;
}

.classes-item .ci-meta:last-child {
	margin-right: 0;
}

.classes-item .ci-meta i {
	color: #f65d5d;
	font-size: 15px;
	margin-right: 10px;
}

.classes-item .ci-bottom {
	border-top: 1px solid #e6e6e6;
	padding: 25px 30px;
	text-align: left;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 420px) {
	.classes-item .ci-bottom {
		padding: 25px 15px;
		text-align: center;
	}
}

.classes-item .ci-author {
	display: inline-block;
}

.classes-item .ci-author img {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 50%;
	margin-right: 11px;
}

.classes-item .ci-author .author-text {
	overflow: hidden;
}

.classes-item .ci-author h6 {
    /* font-family: "Playfair Display", serif; */
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.classes-item .ci-author p {
	color: #f65d5d;
	margin-bottom: 0;
}

.classes-item .site-btn {
	float: right;
	font-size: 14px;
	padding: 11px 0px;
	min-width: 124px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px),
(max-width: 420px) {
	.classes-item .site-btn {
		float: none;
		margin-top: 15px;
	}
}

.classes-item-warp {
	padding-right: 20px;
	margin-bottom: 55px;
}

.circle-select {
	height: 49px;
	line-height: 47px;
	min-width: 234px;
	padding-left: 29px;
	border-radius: 41px;
	border: 1px solid #e6e6e6;
	background: #fafafa;
}

.circle-select .current {
	font-size: 14px;
	color: #999999;
}

.circle-select .list {
	left: auto;
	right: 0;
}

.circle-select:after {
	border-bottom: 1px solid #9f9f9f;
	border-right: 1px solid #9f9f9f;
	right: 22px;
}

.classes-top {
	padding-right: 20px;
	margin-bottom: 40px;
}

.classes-top p {
	padding-top: 5px;
}

.classes-top .circle-select {
	float: right;
}

@media only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 576px) {
	.classes-top .circle-select {
		float: none;
	}
}

.classes-filter .circle-select {
	float: none;
	width: 100%;
	margin-bottom: 20px;
}

.classes-filter h3 {
	font-size: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
}

.classes-filter .cf-cal {
	display: inline-table;
	margin-right: 25px;
}

.classes-filter .cf-radio input[type=checkbox] {
	visibility: hidden;
	position: absolute;
}

.classes-filter .cf-radio input[type=checkbox]:checked+label:before {
	opacity: 1;
	filter: alpha(opacity=100);
}

.classes-filter .cf-radio label {
	font-size: 16px;
	color: #999999;
	padding-left: 27px;
	position: relative;
	cursor: pointer;
}

.classes-filter .cf-radio label:after {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	left: 0;
	top: 3px;
	border: 1px solid #e7e7e7;
	border-radius: 40px;
}

.classes-filter .cf-radio label:before {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	left: 0;
	top: 3px;
	border-radius: 40px;
	background: url("../images/icons/radio-check.png") no-repeat scroll 0 0;
	z-index: 1;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.classes-filter .site-btn {
	margin-top: 20px;
}

.popular-classes-widget {
	margin: 0 -7px;
}

.popular-classes-widget .owl-dots {
	text-align: center;
}

.popular-classes-widget .owl-dots .owl-dot {
	width: 8px;
	height: 8px;
	background: #cccccc;
	border-radius: 20px;
	margin-right: 7px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.popular-classes-widget .owl-dots .owl-dot:last-child {
	margin-right: 0;
}

.popular-classes-widget .owl-dots .owl-dot.active {
	width: 26px;
	background: #f65d5d;
}

.popular-classes-widget .owl-item {
	padding: 0 8px;
}

.pc-item {
	margin: 3px 0 25px;
	overflow: hidden;
	border-radius: 13px;
	-webkit-box-shadow: 0px 5px 7px rgba(72, 105, 114, 0.15);
	box-shadow: 0px 5px 7px rgba(72, 105, 114, 0.15);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.pc-item .pc-thumb {
	height: 200px;
}

.pc-item .pc-text {
	overflow: hidden;
	padding: 30px 15px 15px;
	text-align: center;
}

@media (max-width: 420px) {
	.pc-item .pc-text {
		padding: 30px 15px;
	}
}

.pc-item .pc-text h4 {
	font-size: 20px;
	font-weight: 400;
	/* font-family: "Playfair Display", serif; */
	font-family: "Open Sans", sans-serif;
	margin-bottom: 15px;
}

.pc-item .pc-text h4 a {
	color: #333333;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.pc-item .pc-text h4 a:hover {
	color: #f65d5d;
}

.pc-item .pc-text ul {
	list-style: none;
}

.pc-item .pc-text ul li {
	font-size: 14px;
	margin-bottom: 5px;
}

.pc-item .pc-text ul li i {
	color: #f65d5d;
	font-size: 16px;
	position: relative;
	top: 3px;
	margin-right: 10px;
}

.btn-primary {
    float: right;
}